{% extends 'base.html' %}

{% block content %}

    <style>
        .img {
            width: 50%;
            max-width: 100px;
            height: auto;
        }

        .res {
            height: 500px;
            overflow-y: auto;
            width: 100%;
        }

    </style>


    <div class="container mt-5">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">


                <form action="/search/" method="GET" class="d-flex">
                    <input class="form-control me-2" type="search" name="q" value="{{ request.GET.q }}"
                           placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" value="Search" type="submit">Search</button>
                </form>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo">
                    Add More Items
                </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            {% include 'create_items.html' %}
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container mt-1 res">
        {#for more items#}

        <table class="table table-hover border table-responsive ">

            <thead>
            <tr>
                <th scope="col">Photos</th>
                <th scope="col">Item Type</th>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date Stored</th>
                <th scope="col">Expiry</th>
                <th scope="col">Status</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody class="res">


            {% for item in items %}
                <tr>
                    <td><img src="{{ item.photos.url }}" class="img" alt=""></td>
                    <td>{{ item.food_type }}</td>
                    <td>{{ item.food_title }} </td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.valid_from }}</td>
                    <td>{{ item.valid_to }}</td>

                    {% if item.valid_to > item.timestamp.date.today %}
                        <td class="text-success">Good</td>
                    {% elif item.valid_to >= item.timestamp.date.today %}
                        <td class="text-warning">Warning</td>
                    {% else %}
                        <td class="text-danger">Expired</td>
                    {% endif %}

                    <td>
                        <button type="button" class="btn btn-outline-primary">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </td>

                    {% empty %}
                <tr>
                    <td colspan="12" class="text-center bg-warning">No data...!!!</td>
                </tr>
            {% endfor %}


            </tr>


            </tbody>
        </table>
    </div>

{% endblock %}
