{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reset your password</h3>
                    <hr>
                    {% if  user.is_active is True %}
                        <p><b>Hi, {{ user.username }}</b> Enter your email address and we will send you a link to reset
                            your password.</p>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                        </form>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            here is no user registered with the specified E-Mail address,Try to signup !.
                        </div>
                        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}